@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Poppins:wght@100;200;300;400;500&display=swap');

body{ 
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	color: #888;
	}

h1,h2,h3,h4,h5,h6{
	font-family:  'Poppins', sans-serif;
}


header{
	background-color: #4b5054;	
	padding: 20px 0;
}

.nav-gris{
	background-color: #e8e8e7;
}

.nav-gris .navbar-nav .nav-link{
	color: #908377;
	
}

.bg-gris{
	background-color: #f5f5f5;
	
}

#footer-info{
	background-color: #efefef;
	padding: 30px 0;
	color: #8686886;
}

#footer-copy{
	background-color: #e8e8e7;
	text-align: center;
	padding: 20px 0;	
}


#hero{  
	background-image: url("../img/gallery-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	padding: 8% 0;
	text-align: center;
	}

#hero h4{
	font-size: 12px;
	text-transform: uppercase;
	color:#af9f66;
	font-weight: 400px;
	letter-spacing: 1px;
	}

#hero h1{
	font-family: 'Crimson Text', serif;
	font-size: 50px;
	text-transform: uppercase;
	color:#fff;
	font-weight: 400px;
	letter-spacing: 1px;
	margin-bottom: 10%;
	}

#hero .btn{
	background-color: transparent;
	border: 1px solid #af9f66;
	border-radius: 0px;
	color:#af9f66;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 600px;
	padding: 10px 50px;
	}

#hero .btn:hover{
	background-color: rgba(0,0,0,0.50);
	color: #fff;
	border-color: #000;
	}

#welcome{
	padding: 60px 0;
	text-align: center;
	}

#welcome h3{
	font-size: 18px;
	color: #af9f66
	}

.section{
	padding: 65px 0;
}

#transforming{
	background-color: #f5f5f5;
}

.titulo {
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	text-color: #af9f66;
	text-align: center;
	letter-spacing: 6px;
	font-size: 34px;
	margin-bottom: 30px;
	}


.subtitulo{
	text-transform: uppercase;
	text-color: #999794;
	text-align: center;
	letter-spacing: 6px;
	font-size: 16px;
	font-weight: 500px;
	margin-bottom: 30px;
	}


.parrafo{
	margin-left: 15%;
	margin-right: 15%;
	margin-botton: 40%;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	
	}

#transforming h4{
	text-transform: uppercase;
	color: #6f6c68;
	font-weight:600;
	font-size: 14px;
	margin: 20px 0;
	letter-spacing: 1px;
	}

.btn-oshine{
	background-color: #af9f66;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 30px;
	padding: 10px 30px;
}

#video{
	background-image:url("../../../Oshine-27/Oshine-27/img/gallery-5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	}

.overlay{
	background-color: hsla(0,0%,0%,0.58);
	padding: 10% 0;
}

#video h2{
	font-style: italic;
	font-size: 22px;
	width: 60%;
	margin-botton: auto;
	line-height:1.6;
	margin-bottom: 30px;
	}

.btn-play{
	background-color: #af9f66;
	width: 80px;
	height: 80px;
	line-height: 80px;
	display: block;
	border-radius: 100%;
	color: #fff;
	text-decoration: none;
	margin: auto;
	font-size: 25px;
	transition: all 0.4s ease-in-out;
}


.btn-play:hover{
	background-color: #fff;
	color: #af9f66;
	transition: all 0.4s ease-in-out;
	
}


.icon-contact{
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: block;
	border-radius: 100%;
	color: #af9f66;
	font-size: 30px;
	text-align: center;
}


#contact h4{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
}


.mt-form{
	margin-top: 7%;
}

#contact input{ 
	font-family:  'Poppins', sans-serif;
	font-size: 13px;
	border: 0;
	padding: 8px 10px;
}

#contact textarea{ 
	font-family:  'Poppins', sans-serif;
	font-size: 13px;
	border: 0;
}




!! CHECK !! havent finished yet miercoles  07-09

.capa-relative {
	position: relative;
}

.capa-absolute {
	position: absolute;
	width: 100%;
	top: 0;
	display: grid;
	justify-content: center;
}

.capa-absolute h4{
	color: #fff !important;
}

.capa-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: ;
	top: 0;
	
	
}


